<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="DarkSkyApiKey" value="7e771d6f6b0ada3970e75b553689da4f" />
    <add key="DarkSkyApiUrl" value="https://api.darksky.net/forecast/{0}/{1},{2}?exclude=minutely,hourly,alerts,flags&amp;units=si" />
    <add key="WeatherUndergroundApiKey" value="02f7f30e58d06dd9" />
    <add key="WeatherUndergroundApiUrl" value="http://api.wunderground.com/api/{0}/conditions/forecast10day/q/{1},{2}.json" />
    <add key="ForecastDefaultSize" value="7" />
  </appSettings>

  <connectionStrings>

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
