@model WeatherApp.Models.ForecastModel

@{
  ViewBag.Title = "Home Page";
}

<div>
  <h1>WeatherApp</h1>
  <p class="lead">Here you can select a city and a forecast provider</p>

  <div class="row">
    <div class="col-md-1">City</div>
    <div class="col-md-3">@Html.DropDownList("City", new SelectList(Model.Cities, "LocationInfo", "Name"))</div>
    <div class="col-md-1"></div>
    <div class="col-md-2">Forecast Provider</div>
    <div class="col-md-3">@Html.DropDownList("ForecastProvider", new SelectList(Model.Providers, "Alias", "Name"))</div>
  </div>  
</div>

<div class="row">
  
</div>